{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
        {% if user.is_authenticated %}
        <h1>Rango says.... Hello {{ user.username }}</h1>
        {% else %}
        <h1>Rango says, ... Hello World !!</h1>
        {% endif %}

    </br>
    <h2>Categories</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <!--<li><a href='/rango/category/{{ category.slug }}'>{{ category.name }}</a></li>-->
                    <li><a href='{% url 'category' category.slug %}'>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present !</strong>
        {% endif %}
    </br>
    <h2>Pages</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href='{{ page.url }}'>{{ page.title }}</a></li>
                {% endfor %}
        {% endif %}
    <br />

{% endblock %}
